# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Otus_Unity_HomeWork_3.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Otus\Git_Otus_HomeWork_3\Otus_Unity_HomeWork_3\.idea\.idea.Otus_Unity_HomeWork_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
